.card-item {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #f1f9ff;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .card-title {
        text-transform: capitalize;
        font-weight: 600;
    }

    & .item-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        & span {
            font-size: 25px;
            cursor: pointer;
        }
    }
}